@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  background-color: hsl(185, 41%, 84%);
}

header {
  padding-bottom: 30px;
}
header h1 {
  color: hsl(186, 14%, 43%);
  text-align: center;
  font-size: 1.5rem;
}

section#content {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 30px;
}

div.info label#label-bill {
  font-weight: bold;
  font-size: 1rem;
  color: hsl(186, 14%, 43%);
}
div.info div.bill-price,
div.info div.people {
  background-color: hsl(189, 41%, 97%);
  margin: 5px 0 30px 0;
  position: relative;
}
div.info div.bill-price img,
div.info div.people img {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  padding-left: 20px;
}
div.info div.bill-price input,
div.info div.people input {
  width: 100%;
  border-radius: 10px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  height: 30px;
  color: hsl(183, 100%, 15%);
  text-align: right;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
div.info div.bill-price .input-custom,
div.info div.people .input-custom {
  background-color: #FFCDD2;
  outline: none;
}
div.info div.bill-price .input-custom:focus,
div.info div.people .input-custom:focus {
  border: 2px solid #EF5350;
}
div.info div.bill-price input:focus,
div.info div.people input:focus {
  cursor: auto;
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}
div.info div.bill-price .span-error,
div.info div.people .span-error {
  outline: none;
  border: 2px solid rgb(196, 129, 4);
  border-radius: 10px;
}
div.info div.bill-price input:focus.span-error,
div.info div.people input:focus.span-error {
  outline: none;
  border: 2px solid rgb(196, 129, 4);
  border-radius: 10px;
}
div.info div.error-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.info div.error-message label#labelPeople {
  font-weight: bold;
  font-size: 0.8rem;
  color: hsl(186, 14%, 43%);
}
div.info div.error-message span#error {
  text-align: right;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(196, 129, 4);
}
div.info label#custom-tip {
  color: hsl(186, 14%, 43%);
  font-size: 0.8rem;
  font-weight: bold;
}
div.info ul {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 10px 0 30px 0;
  text-align: center;
  list-style: none;
}
div.info ul li {
  width: 112px;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 10px;
  background-color: hsl(183, 100%, 15%);
  overflow: hidden;
}
div.info ul .active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}
div.info ul li:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
div.info ul li#custom {
  padding: 0;
}
div.info ul li#custom input {
  border: none;
  background-color: hsl(189, 41%, 97%);
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}
div.info ul li#custom input:hover {
  cursor: pointer;
}
div.info ul li#custom input:focus {
  padding-right: 10px;
  text-align: right;
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 10px;
  outline: none;
  cursor: auto;
}
div.info ul li#custom .input-custom {
  background-color: #FFCDD2;
  outline: none;
}
div.info ul li#custom .input-custom:focus {
  border: 2px solid #EF5350;
}

div.tip {
  position: relative;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  height: 260px;
}
div.tip div.amount-total,
div.tip div.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0px;
}
div.tip div.amount-total div.detail p,
div.tip div.price div.detail p {
  color: hsl(0, 0%, 100%);
}
div.tip div.amount-total div.detail span,
div.tip div.price div.detail span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
div.tip div.amount-total p.value,
div.tip div.price p.value {
  color: hsl(172, 67%, 45%);
  font-size: 1.8rem;
  font-weight: bold;
}
div.tip button {
  position: absolute;
  display: block;
  margin: auto;
  border: none;
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  height: 40px;
  width: 85%;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px 20px;
  bottom: 20px;
}
div.tip button:hover {
  background-color: hsl(185, 41%, 84%);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  main {
    width: 580px;
  }
  div.info h3 {
    font-size: 1rem;
  }
  div.info ul li {
    width: 162px;
  }
  div.tip button {
    width: 92%;
  }
}

/*# sourceMappingURL=style.css.map */
